.card{
    box-shadow: 6px 11px 41px -28px #a99de7;
    margin-bottom: 30px;
    border: none;
    border-radius: 0.625rem;
    .card-head{
        min-height: 1px;
        padding: 1.15rem;
        .card-title{
            font-weight: normal;
        }
    }
    

    .hr{
        margin-top: -5px;
    }
}

.prod-p-card {
    position: relative;
    min-height: 200px;
    overflow: hidden;
    transition: .4s;
    &:after,&:before{
        content: '';
        position: absolute;
        right: 0;
        width: 30%;
        background-color: rgba(162, 162, 162, 0.09);
        opacity: .8;
        transition: all .3s ease-in-out;
    }
    &:hover{
        box-shadow: 6px 7px 26px 8px #8e8d92;
    }
    &:before{
        height: 100px;
        border-radius: 20% 80% 0% 0%;
        bottom: -12px;
        left: 0;
    }
    &:after{
        height: 100px;
        border-radius: 80% 0% 0% 20%;
        bottom: -25px;
    }
    .card-icon{
        // color: #ddd;
        font-size: 30px;
        font-size: 50px;
        transition: all .3s ease-in-out;
    }
    &:hover:after,
    &:hover:before{
        height: 400px;
        width: 150%;
        border-radius: 100%;

    }

    .card-body{
        h6{
            margin-bottom: 20px;
            font-size: 22px;
        }
        h3{font-weight: 600 !important;}
    }
}