$blue: #7571f9;
$green:#27ae60;
$red: #c0392b;
$orange: #d35400;
$purple: #8e44ad;

.gradient-1{background-image: linear-gradient(230deg, #759bff, #843cf6);}
.gradient-2{background-image: linear-gradient(230deg, #fc5286, #fbaaa2);}


.blue{background-color: $blue;}
.green{background-color: $green;}
.red{background-color: $red;}
.orange{background-color: $orange;}
.purple{background-color: $purple;}

.text-blue{color: $blue;}
.text-green{color: $green;}
.text-red{color: $red;}
.text-orange{color: $orange;}
.text-purple{color: $purple;}


$themes: (
    blue-theme:(
        color: $blue
    ),
    green-theme:(
        color: $green
    ),
    red-theme:(
        color: $red
    ),
    orange-theme:(
        color: $orange
    ),
    purple-theme:(
        color: $purple
    )
);

@each $theme, $map in $themes {
    .#{$theme} {
        $color: map-get($map, color);
        .page-head .page-title {color: $color;}
        .sidebar .site-logo{background-color: $color;}
        a:hover {color: $color;}
        .hamburger-icon:hover span{background-color: $color;}
        .sidebar .side-menu-icon:hover{color: $color;}
        .settings-box .settings-caption{color: $color;}
    }
}