/* Main Fonts */
$Roboto: 'Roboto', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;
$Lato: 'Lato', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Raleway: 'Raleway', sans-serif;
/*******************************/

// font-weight
@for $i from 3 through 9 {
    .f-w-#{$i}00 {font-weight: #{$i}000 !important;}
}
// font-size
@for $i from 1 through 10 {
    .f-1#{$i} {font-size: 1#{$i}px !important;}
}


body{
    font-family: 'Open Sans', sans-serif;
    &.Open-Sans {font-family: $Open-Sans}
    &.Roboto    {font-family: $Roboto}
    &.Lato      {font-family: $Lato}
    &.Oswald    {font-family: $Oswald}
    &.ORaleway  {font-family: $Raleway}
    a{
        transition: .3s;
        color: #abafb3;
        &:hover{
            text-decoration: none;
            color: $blue;
        }
    }
}

.page{
    min-height: 100vh;
    background-color: #F3F3F9;
    .content-area{
        
        width: calc(100% - 80px);
        min-height: 100%;
        transition: .3s;
        will-change: width;
        float: right;
        &.no-sidebar{
            width: calc(100% - 250px);
        }
    }
}
.page-head{
    margin-top: 1rem;
    .page-title{
        font-weight: bold;
        color: $blue;
    }
}