@import 'partials/colors';

.settings-box{
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 5rem 1.3rem;
    background-color: #fff;
    z-index: 999;
    transition: .3s;
    &.hide-settings{right: -250px;}
    .settings-caption{
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: .6rem;
        border-bottom: 2px solid #eee;
        text-align: center;
        border-radius: 50%;
        color: $blue;
    }
    .toggle-settings{
        position: absolute;
        left: -33px;
        top: calc(50% - 70px);
        padding: 1rem;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        transition: .4s;
        i{
            top: 5px;
            left: -5px;
            position: relative;
        }
        &:after{
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            transform: rotate(45deg);
            background-color: #fff;
            border-radius: 10px;
        }
    
    }
    .settings-content{
        .option-box{
            text-align: center;
            h4{
                font-size: 1rem;
                font-weight: 600;
                color: #abafb3;
            }
        }
    }
    .color-options{
        ul{
            $colors: $blue, $green, $red, $orange, $purple;
            @for $i from 1 through length($colors){
                li:nth-child(#{$i}) {
                    background-color: nth($colors, $i);
                }
            }
            li{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                opacity: .6;
                cursor: pointer;
                display: inline-block;
                transition: .3s;
                &.active{
                    opacity: 1;
                    box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
                }
            }
        }
    }
    // .font-options{
    //     select{
    //         text-transform: capitalize;
    //         $fonts: $Open-Sans, $Roboto, $Lato, $Oswald, $Raleway;
    //         @for $i from 1 through length($fonts){
    //             option[value=#{$i}] {
    //                 font-family: nth($fonts, $i);
    //             }
    //         }
    //         option{background-color: #f20;}
            
    //     }
    // }
}