.sidebar{
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    padding-bottom: 15px;
    transition: .3s;
    &.no-sidebar{
        left:-170px
    }
    .site-logo{
        height: 5rem;
        font-weight: bold;
        font-size: 30px;
        padding: 20px 10px;
        background-color: #7571f9;
        a{
            color: #fff;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .sidebar-list{
        li{
            //all links
            a{
                color: #666 ;
                display: block;
                padding: 10px 30px;
                transition: .3s ease-out;
                &:hover{
                    text-decoration: none;
                    
                }
            }
        }
        // main links
        > li > a{
            position: relative;
            color: #000;
            .side-menu-arrow {
                position: relative;
                float: right;
                top: 3px;
                transition: .3s;
                &.down{
                    transform: rotate(90deg);
                }
            }
            &:hover{
                padding-left: 35px;
                color: #333;
            }
            &:before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid #333;
                left: 10px;
                transform: translateY(-50%);
                top: 50%;
            }
        }
        
        // sub menu
        .child-links{
            position: relative;
            display: none;
            li{
                a{
                    position: relative;
                    text-transform: capitalize;
                    transition: .4s;
                    &:hover{color: #000;}
                    &:before{transition: .4s;}
                    &:hover:before{
                        content: "";
                        position: absolute;
                        left: 10px;
                        top: 0;
                        width: 3px;
                        height: 100%;
                        background-color: #000;
                    }
                }
            }
            &:before{
                content: "";
                position: absolute;
                left: 10px;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: #666;
            }
        }
    }
}