section.main-status
    .row
        .col-md-4
            .card.prod-p-card.green
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6.text-white Total Profit
                            h3.mb-4.f-w-700.text-white $1,783 
                        .col-auto
                            i.fa.fa-money

                    p.mb-0.text-white
                        |From Previous Month
                        span.label.label-danger.m-r-10 +11%

        .col-md-4
            .card.prod-p-card.blue
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6.text-white Products Sold
                            h3.mb-4.f-w-700.text-white 4565 
                        .col-auto
                            i.fa.fa-shopping-cart

                    p.mb-0.text-white
                        |From Previous Month
                        span.label.label-danger.mr-5 +11%


        .col-md-4
            .card.prod-p-card.purple
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6.text-white New Customers
                            h3.mb-b4.f-w-700.text-white 4565 
                        .col-auto
                            i.fa.fa-users

                    p.mb-0.text-white
                        |From Previous Month
                        span.label.label-danger.m-r-10 +11%
