section.main-status
    .row
        .col-lg-3.col-md-6
            .card.prod-p-card
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6 Total Profit
                            h3.mb-4 $1,783 
                        .col-auto
                            i.card-icon.fa.fa-money.text-green

                    p.mb-0
                        |From Previous Month
                        span.label.label-danger.mr-1 +11% 
                        i.fa.fa-arrow-up

        .col-lg-3.col-md-6
            .card.prod-p-card
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6 Products Sold
                            h3.mb-4 4565 
                        .col-auto
                            i.card-icon.fa.fa-shopping-cart.text-blue

                    p.mb-0
                        |From Previous Month
                        span.label.label-danger.mr-1 -9% 
                        i.fa.fa-arrow-down


        .col-lg-3.col-md-6
            .card.prod-p-card
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6 New Customers
                            h3.mb-b4 4565 
                        .col-auto
                            i.card-icon.fa.fa-users.text-orange

                    p.mb-0
                        |From Previous Month
                        span.label.label-danger.mr-1 +20%
                        i.fa.fa-arrow-up

        .col-lg-3.col-md-6
            .card.prod-p-card
                .card-body
                    .row.align-items-center.mb-3
                        .col
                            h6 New Customers
                            h3.mb-b4 4565 
                        .col-auto
                            i.card-icon.fa.fa-users.text-purple

                    p.mb-0
                        |From Previous Month
                        span.label.label-danger.mr-1 +30%
                        i.fa.fa-arrow-down

