.settings-box
    span.fa.fa-gear.fa-lg.toggle-settings settings tools
    .settings-content
        .option-box
            h4 Font option
        .option-box
            h4 Color option
        .option-box
            h4 Sidebar option

