-var pageTitle = "Charts";
<!DOCTYPE html>
html(lang="en")
    head
        include layout/meta
        include layout/styles
    body
        .page
            include components/settings-box
            include layout/sidebar
            .content-area
                include layout/header
                .container-fluid
                    include layout/page-head
        include layout/scripts