-var pageTitle = "Home Page";
<!DOCTYPE html>
html(lang="en")
    head
        include layout/meta
        include layout/styles
    body
        .page
            include components/settings-box
            include layout/sidebar
            .content-area
                include layout/header
                .container-fluid
                    include layout/page-head
                    include components/mainStatus
                    
                    .row
                        .col-md-6
                            .card
                                .card-head.d-flex.justify-content-between
                                    .div
                                        h3.card-title card title
                                    .div
                                        span.fa.fa-angle-down.fa-lg
                                hr.hr

                                .card-body
                                    h2 card body here
        include layout/scripts