-var pageTitle = "registration page";
<!DOCTYPE html>
html(lang="en")
    head
        include layout/meta
        include layout/styles
    body
        .reg-page
            .reg-bg.clip-bg

                .container
                    .row
                        .col-md-6
                            h2 left area
                        .col-md-6
                            h2 right area

        include layout/scripts