.sidebar
    .site-logo
        a(href="#!") Logo
    ul.sidebar-list.list-unstyled
        li
            a(href="#!") Home
        li 
            a(href="#!") 
                |Forms
                i.fa.fa-angle-right.toggle-submenu
                ul.child-links.list-unstyled
                    li
                        a(href="#!") input
                    li
                        a(href="#!") textarea
                    li
                        a(href="#!") checkbox
                    li
                        a(href="#!") radio

            
            