.sidebar.no-sidebar
    .site-logo
        a(href="#!") Logo
    ul.sidebar-list.list-unstyled.mt-5
        li
            a(href="/", class= pageTitle === "Home Page" ? "active" : "") 
                span.link-caption Home
                span.side-menu-icon.fa.fa-home.animated.bounce
        li 
            a(href="#!").toggle-submenu
                span.link-caption Forms
                span.side-menu-icon.fa.fa-cogs.animated.bounce
                i.side-menu-arrow.fa.fa-angle-right
                ul.child-links.list-unstyled
                    li
                        a(href="#!") input
                    li
                        a(href="#!") textarea
                    li
                        a(href="#!") checkbox
                    li
                        a(href="#!") radio

        li 
            a(href="charts.html", class= pageTitle === "Charts" ? "active" : "")
                span.link-caption Charts
                span.side-menu-icon.fa.fa-shopping-cart.animated.bounce
                
            
            