//- Bootstrap Css File
link(rel="stylesheet", href="css/bootstrap.min.css")
//- Material Icons Css File
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
//- Google Fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Oswald|Raleway|Roboto&display=swap")
//- Main Style Css File
link(rel="stylesheet", href="css/main.css")

